{% extends "base.html" %}

{% block nav %}
	<ul class="nav">
	  <li class="active"><a href="/">Dashboard</a></li>
    <li><a href="/virtualcluster">Virtual Cluster</a></li>
	  <li><a href="/nodetype">Node Type</a></li>
	  <li><a href="/node">Node</a></li>
	</ul>
{% endblock nav %}

{% block container %}
  <h1>Dashboard</h1>
  <table class="table table-bordered">
  	<thead>
  		<tr>
  			<th>VirtualCluster ID</th>
				<th>NodeType ID</th>
        <th>Node ID</th>
        <th>VM ID</th>
				<th>NAME</th>
        <th>STATE</th>
        <th>VM STATE</th>
        <th>HOSTNAME</th>
  		</tr>
  	</thead>
		<tbody id="dashboard"></tbody>
  </table>
{% endblock container %}

{% block scripts %}
<script type="text/javascript">// <![CDATA[
function createRow(vcid, ntid, nid, vmid, name, state, lcm_state, hostname) {
  row = $('<tr>');
  row.append($('<td>' + vcid + '</td>'));
  row.append($('<td>' + ntid + '</td>'));
  row.append($('<td>' + nid + '</td>'));
  row.append($('<td>' + vmid + '</td>'));
  row.append($('<td>' + name + '</td>'));
  row.append($('<td>' + state + '</td>'));
  row.append($('<td>' + lcm_state + '</td>'));
  row.append($('<td>' + hostname + '</td>'));
  return row;
}

function updateDashboard() {
  dashboard = $('#dashboard');
  dashboard.text('');
    
  $.getJSON('/api/overview', function(data){
    $.each(data, function(index, vc){
      row = createRow(vc.id, '', '', '', vc.name, vc.state, '', '')
      row.addClass('success');
      dashboard.append(row);
      $.each(vc.nodetypes, function(index, nt){
        row = createRow(vc.id, nt.id, '', '', nt.name, nt.state, '', '')
        row.addClass('warning');
        dashboard.append(row);
        if (nt.nodes.length > 0) {
          $.each(nt.nodes, function(index, node){
            row = createRow(vc.id, nt.id, node.id, node.virtualmachine.id, node.virtualmachine.name, node.virtualmachine.state, node.virtualmachine.lcm_state, node.virtualmachine.hostname);
            row.addClass('info');
            dashboard.append(row);
          });
        }
      });
    });
  });
}

$(document).ready(function() {
  updateDashboard();
  $.ajaxSetup({ cache: false }); // This part addresses an IE bug. without it, IE will only load the first number and will never refresh
  setInterval(function() {
    updateDashboard();
  }, 10000); // the "3000" here refers to the time to refresh the div. it is in milliseconds.
  
});
// ]]></script>
{# <script src="/static/js/dashboard.js"></script> #}
{% endblock scripts %}